input
  background-color #fff
  border 1px solid #e3e9ef
  border-radius 4px
  color #174f7c
  font-size 16px
  margin 0
  padding 16px 20px
  transition border-color,box-shadow
  transition-duration .1s
  transition-timing-function ease-in-out

  &:focus
    box-shadow 0 1px 2px rgba(23, 79,124, 0.2)
    border-color rgb(199,212,223)

  &::placeholder
    color #adbfce
